@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<p>GitInsight is a web application made for the course Analysis, Design and Software Architecture during autumn 2022 as part of the BSc in Software Development program at IT-University of Copenhagen. </p>


